*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Ruda", serif;
    scroll-behavior: smooth;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
}

body{
    background-color: black;
    color: white;
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    padding: 30px 56px 30px 56px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 2vmax;
    overflow: hidden;
    flex-wrap: wrap;
}



nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;

}
nav li{
    padding-left: 20px;
}

header .nav-sec1{
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    border: 1px solid #000000;
}

.nav-icons{
    color: white;
}

p{
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: .09em;
    font-family: "Ruda", serif;
}

hr{
    background-color: #B62828;
    width: 526px;
    /*width: 586px;*/
    height: 10px;
    border: none;
}

section{
    padding-left: 10vw;
    padding-right: 10vw;
}

section#s1{
    color:white;
    height: 90vh;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("assets/image1.png");
    background-size: cover;
    background-position: center;
}

#s1 h1{
    font-size: 5vw;
    font-family: "Quattrocento", serif;
    font-weight: 700;
    line-height: 5vw;
    padding-top: 5%;
    width: 70%;
}
h2{
    font-size: 3.5vw;
    font-family: "Ruda", serif;
    font-weight: 700;
    line-height: 5vw;
    padding-top: 5%;
    width: 70%;
}
hr.h1{
    margin-top: 2%;
    width: 50%;
}

#s1 p{
    width: 43%;
    margin-top: 2%;
}

#s2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutHead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2{
    margin-top: 3%;
    margin-bottom: 10%;
    height: 7px;
    width: 450px;
}

#aboutHR{
    height: 3px;
    width: 500px;
    margin-bottom: 3%;
}
#aboutBody{
    display: flex;
    padding-right: 10px;
}

#s3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuHR{
    margin-top: 1%;
    margin-bottom: 3%;
    height: 7px;
    width: 450px;
}

.menuGrid{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#s3 p{
    margin-bottom: 20px;
}
.items{
    display: flex;
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;

}
.items img{
    width: 70%;
    height: 100%;
}
.items h3{
    font-size: 1.5vw;
    color: orange;
    margin-left: 5%;

}
.items p{
    font-size: 1vw;
    margin-right: 10%;
    margin-left: 5%;
}
#findContent{
    display: flex;
}
#findPara{
    margin-bottom: 3%;
}
#s4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s4 hr{
    margin-top: 1%;
    margin-bottom: 3%;
    height: 7px;
    width: 450px;
}
.flex{
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}
.flex p{
    margin-left: 20px;
    white-space: pre-line;
}

.mapRouter{
    position:relative;
    text-align:right;
    height:30vh;
    width:80%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}


footer{
    position: page;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 50px;
    padding-right: 100px;
    align-items: center;
}

.foot-contact div{
    display: flex;
    align-items: center;
}
.foot-contact p{
    margin-left: 10px;
    white-space: pre-line;
}


nav a{
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: lightgrey;
}

@media (max-width: 700px) {
    #aboutBody img{
        width: 100px;

    }

}